<div id="SOHUCS" sid="<%= @sid %>"></div>
<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" 
src="https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyuVphieS&conf=prod_867319a68b3e4bc72dc58a2165b113fe">
</script>

