.common-bottom
  %p.t1 还没抽中SSR？
  %p.t2 据说评论后会有运气Buff加成哦~
  %a{href: "itms-apps://itunes.apple.com/cn/app/id1231905069?mt=8&action=write-review", data:{no:{turbolinks: true}}, target: "_blank"}
    .c-btn
      .mid
        .inner 立即评论

  .slogan
    %p.t2 SSR - 马上拥有

