.common-bottom
  %p.t1 内部优惠券
  %p.t2 快来领取你的专属福利哦~
  %a{href: "http://m.iquan.net", data:{no:{turbolinks: true}}, target: "_blank"}
    .c-btn
      .mid
        .inner 立即领取

  .slogan
    %p.t2 感谢支持 - 祝每抽必有SSR
  %a{href: "/app/ad_google"} 广告1
  %a{href: "/yys/ad_google"} 广告2

