.common-bottom
  %p.t1 还没抽中SSR？
  %p.t2 据说评论后会有运气Buff加成哦~
  %a{href: "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1231905069&pageNumber=0&sortOrdering=2&type=Purple+Software&mt=8", data:{no:{turbolinks: true}}, target: "_blank"}
    .c-btn
      .mid
        .inner 立即评论

  .slogan
    %p.t2 SSR - 马上拥有

